body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1 {
    margin-top: 60px;
}

th {
    border-bottom: 1px solid #0088dd;
    text-align: left;
    color: #0088dd;
    font-weight: normal;
}

td {
    min-width: 150px;
    min-height: 200px;
    vertical-align: top;
    line-height: 1.4em;
}

td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

nav {
    width: 100%;
    height: 9rem;
    background: rgba(175, 112, 10, 0.15);
    position: absolute;
    text-align: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: rgb(255, 140, 0);
}

nav a:hover {
    color: #DD641D;
}

nav a:active {
    color: #D8AB17;
}

nav #menu {
    width: 100%;
    height: 9rem;
    font-size: 1.5rem;
    line-height: 550%;
    text-align: center;
    margin: 0 auto;
}

#leftMenu {
    width: 46%;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: right;
}

#leftMenu a {
    padding: 0.4em;
}

#rightMenu a {
    padding: 0.4em;
}

#rightMenu {
    padding: 0px;
    margin: 0px;
    float: left;
}

#logo {
    float: left;
    margin-left: 4 rem;
}

nav div a img {
    width: 9.0rem;
    float: left;
    margin-top: 0.6em;
}

h1 {
    margin-top: 150px;
}

.footer {
    width: 100%;
    height: 22em;
    background: rgb(48, 48, 48);
    color: white;
    text-align: center;
}

.contact {
    width: 50%;
    float: left;
    height: 20em;
    line-height: 160%;
}

.contact p {
    margin: 0;
    line-height: 190%;
}

.contact h2 {
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.socials {
    width: 50%;
    float: left;
    text-align: center;
    height: 20em;
    line-height: 160%;
}

.socials h2 {
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

#contactMail {
    text-decoration: none;
    color: #FFA216;
}

#contactMail:hover {
    text-decoration: none;
    color: #9C9C9C;
}

#copyright {
    padding: 20px 0px 0px 0px;
}

.iconsInside {
    width: 100%;
    height: 4.4em;
    display: inline-block;
    margin-top: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.Images {
    width: 65%;
    height: 80%;
}