body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
}

nav {
    width: 100%;
    height: 9rem;
    background: rgba(255, 255, 255, 0.72);
    position: fixed;
    text-align: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: rgba(236, 145, 33, 0.95);
}

nav a:hover {
    color: #DD641D;
}

nav a:active {
    color: #D8AB17;
}

nav #menu {
    width: 100%;
    height: 9rem;
    font-size: 1.5rem;
    line-height: 550%;
    text-align: center;
    margin: 0 auto;
}

#leftMenu {
    width: 46%;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: right;
}

#leftMenu a {
    padding: 0.4em;
}

#rightMenu a {
    padding: 0.4em;
}

#rightMenu {
    padding: 0px;
    margin: 0px;
    float: left;
}

#logo {
    float: left;
}

nav div a img {
    width: 9.0rem;
    float: left;
    margin-top: 0.6em;
    padding: 0;
}

nav div a img:hover {
    opacity: 0.75;
}

.empty {
    width: 80%;
    height: 40em;
}

.article {
    background: rgba(255, 255, 255, 0.75);
    margin: auto auto;
    width: 100%;
    height: 1000px;
    border: 1px solid #000000;
}

p {
    padding: 1.0em;
    line-height: 1.7em;
}

.news {
    width: 50%;
    padding: 2.0em;
}

hr {
    width: 70%;
    opacity: 0.5;
}

#footer {
    width: 100%;
    height: 5em;
    background: rgb(61, 61, 61);
}

table {
    background: url(../images/white.jpg);
    width: 90%;
    height: 120%;
}

p {
    font-family: Bebas Neue;
    font-size: 45px;
}

.parallax {
    /* The image used */
    background-image: url(../images/header1.png);
    /* Set a specific height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg {
    background-image: url(../images/ex.jpg);
    min-height: 400px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    width: 100%;
    height: 32em;
    background: rgb(48, 48, 48);
    color: white;
    text-align: center;
}

.contact {
    width: 50%;
    float: left;
    height: 20em;
    line-height: 160%;
}

.contact p {
    font-size: 2.0em;
    margin: 0;
    line-height: 190%;
}

.contact h2 {
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.socials {
    width: 50%;
    float: left;
    height: 20em;
    line-height: 160%;
}

.socials h2 {
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

#contactMail {
    text-decoration: none;
    color: #FFA216;
}

#contactMail:hover {
    text-decoration: none;
    color: #9C9C9C;
}

#copyright {
    padding: 0;
    font-size: 40px;
    color: white;
}

.iconsInside {
    width: 100%;
    height: 2.0em;
    display: inline-block;
    margin-top: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}