body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 0;
    text-align: center;
}

nav {
    width: 100%;
    height: 9rem;
    background: rgba(255, 255, 255, 0.76);
    position: fixed;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: rgba(236, 145, 33, 0.95);
}

nav a:hover {
    color: #DD641D;
}

nav a:active {
    color: #D8AB17;
}

nav #menu {
    
    width: 100%;
    height: 9rem;
    font-size: 1.5rem;
    line-height: 550%;
    text-align: center;
    margin: 0 auto;
}

#leftMenu {
    width: 46%;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: right;
}

#leftMenu a {
    padding: 0.4em;
}

#rightMenu a {
    padding: 0.4em;
}

#rightMenu {
    
    padding: 0px;
    margin: 0px;
    float: left;
}

#logo {
    float: left;
}

nav div a img {
    width: 9.0rem;
    float: left;
    margin-top: 0.6em;
    padding: 0;
}

nav div a img:hover {
    opacity: 0.75;
}

.empty {
    width: 80%;
    height: 770px;
}

.article {
    background: rgb(250, 255, 244);
    margin: auto auto;
    width: 100%;
    
    position: relative;
    z-index: 20;
    border-top: 1px solid black;
}

h1 + p {
    font-weight: 700;
}

h1 + p + p::first-letter {
    font-size: 5.0em;
    color: rgb(236, 145, 33);
    margin-right: 0.1rem;
}

p {
    padding: 1.0em;
    line-height: 1.7em;
}

p a {
    text-decoration: none;
}

p a:visited {
    text-decoration: none;
    color: #1A81BD;
}

.news {
    width: 100%;
    
   display: inline-block;
    text-align: center;
}

.news h1 a {
    text-decoration: none;
    color: #0A8196;
}

.news h1 a:hover {
    color: rgb(236, 145, 33);
    text-decoration: none;
}

hr {
    width: 70%;
    opacity: 0.5;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.footer {
    width: 100%;
    height: 22em;
    background: rgb(48, 48, 48);
    color: white;
    text-align: center;
    
}

.date {
    color: #068AB3;
    float: left;
    padding: 0px;
    margin: 0 1em;
    letter-spacing: 0.1em;
}

.contact {
    width: 50%;
    
    float: left;
    
    height: 20em;
    line-height: 160%;
}

.contact p {
    
    margin: 0;
    line-height: 190%;
}

.contact h2 {
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.socials {
    width: 50%;
    float: left;
    text-align: center;
    height: 20em;
    line-height: 160%;
}

.socials h2 {
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 400;
    letter-spacing: 0.03em;
   
}

#contactMail{
    text-decoration: none;
    color: #FFA216;
}
#contactMail:hover{
    text-decoration: none;
    color: #9C9C9C;
}
.iconsInside {
    width: 100%;
    height: 4.4em;
    display: inline-block;
    margin-top: 10px;
}
.icon{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
#copyright {
    padding: 0;
}

.article h3 {
    margin-right: 2.3em;
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 3em;
    color: #FF9900;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    letter-spacing: 0.1em;
}

.image img
{
    width: 100%;
    height: auto;
    float: left;
    margin: auto auto;

}

.image {
    width: 40%;
    height: auto;
    float: left;
    margin-left: 5%;
    border-left: 1px solid #f1f1f1;
    padding-left: 4%;
    margin-right:0;
}

.news .text {
    width: 45%;
    margin-left: 2em;
    float: left;
}

h3 span {
    display: inline-block;
    margin-left: 10.7em;
}

.image a img {
    background-color: #0CACC9;
    transition: opacity 0.3s ease-in-out;
}

.image a img:hover {
    opacity: 0.7;
}

#author
{
    float: right;
    font-size: 1.2em;
    color: #1A81BD;
    letter-spacing: 0.1em;
}